{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Page
{% endblock %}
{% block body %}
    
    <h1>Create a new Wikipedia Page:</h1>

    <p>Use the form below to create a new Wikipedia Page.</p>
    <p>Please note that Wikipedia uses <a href="https://docs.github.com/en/github/writing-on-github/basic-writing-and-formatting-syntax">Github Markdown</a> to style its pages, which is converted to HTML when entries are requested by a user.</p>
    {% if message %}
    <h2 style="text-align: center; color: red;">
        {{ message }} --> 
        <a href="{% url 'entry' title %}">{{ title }}</a> 
    </h2> 
    {% endif %}
    
    <form action="{% url 'newpage' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form }}
        </div>
        <div class="form-group">
            <input class="btn btn-secondary" type="submit" value="Save">
        </div>
    </form>
    
{% endblock %}